.musiclist-wrapper {
  height: 100%;
}
.musiclist-wrapper .back {
  position: absolute;
  left: 6px;
  top: 8px;
  z-index: 500;
}
.musiclist-wrapper .back .icon-back {
  color: #ffcd32;
  font-size: 22px;
  padding: 10px;
}
.musiclist-wrapper .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 8px;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 500;
}
.musiclist-wrapper .bg-image {
  padding-top: 70%;
  background-size: cover;
  position: relative;
}
.musiclist-wrapper .bg-image .filter {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(7, 17, 27, 0.4);
}
.musiclist-wrapper .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
}
.musiclist-wrapper .scroll-wrapper {
  overflow: visible!important;
}
