.header {
  background: #222;
}
.header .h-wrapper .text {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  color: #ffcd32;
  vertical-align: top;
  display: inline-block;
  line-height: 44px;
}
.header .h-wrapper .bgImg {
  background: url('../../components/my-header/logo@2x.png') no-repeat;
  background-size: 30px 32px;
  width: 30px;
  height: 32px;
  margin: 6px 6px 0 0;
  display: inline-block;
}
