.nomatch-wrapper {
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  background: #222;
  top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30%;
}
