.songlist-wrapper {
     padding: 20px 30px;
     .ul-wrapper {
        text-align: left;
        font-size: 14px;
        li.listItem {
            height: 64px;
            .songName {
                font-weight: normal;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .desc {
                color: rgba(255,255,255,0.3);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
}

}