.tabWrapper {
    color: hsla(0,0%,100%,.5);
    font-size: 16px;
    padding: 10px 0;
    .ul-wrapper {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        li {
            flex: 1;
            a {
                color: hsla(0,0%,100%,.5);
            }
            .active {
                color: #ffcd32;
            }
        }
        
    }
}