.singer-detail-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  color: #fff;
}
.fade-enter {
  transform: translateX(100%);
}
.fade-enter.fade-enter-active {
  transition: all 0.3s;
}
.fade-leave {
  transform: translateX(100%);
}
.fade-leave.fade-leave-active {
  transition: all 0.3s;
}
